#Navbar{
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0 20px;
   padding-top: 95px;
}

#Navbar ul{
    text-align: center;
}


#Navbar ul li{
    cursor: pointer;
    font-size: 22px;
    list-style: none;
    margin: 6px 0;
}

#Navbar ul li #profileImg{
    width: 42px;
}

#Navbar ul:first-child{
  margin-top: auto;
  margin-bottom: auto;
}
#Navbar ul:last-child{
  margin-bottom: auto;
  
}