* {
  margin: 0;
  padding: 0;
}

#signUp {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signUp form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-color);
  padding: 30px 15px;
  border-radius: 15px;
}

#signUp form input {
  width: 200px;
  margin-bottom: 20px;
  background: transparent;
  outline: 0;
  border: 1px solid var(--text-color);
  padding: 8px 14px;
  border-radius: 20px;
  color: var(--text-color);
}



#signUp form button {
  width: 100%;
  padding: 6px 20px;
  background: var(--notification-color);
  border: 0;
  color: var(--text-color);
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0;
}

#signUp form a {
  font-size: 10px;
  margin-top: 10px;
  color: var(--text-color);
}
#signUp form a:hover {
  color: var(--text-color2);
}

#pwdDiv {
  border: 1px solid var(--text-color);
  /* padding-bottom: 0; */
  border-radius: 20px;
  padding: 0 4px;
}
#signUp form #pwdDiv input {
  border: 0;
  border-radius: 20px;
  padding: 8px 4px;
  padding-right: 0px;
  margin-bottom: 0;
}

.input-instructions{
  width: 220px;
  color: red;
  font-size:9px;
  text-align: left;
  margin-top: 8px;
  /* margin-bottom: 20px; */
}


/* #signUp img{
  position: absolute;
  left: 0;
  height: 100%;
} */