@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  background-color: #242424;
 --secondery-bg-color:#2e2e2e;
 --notification-color:blue;
 --text-color:#ffffffd9;
 --text-color2:#ffffff;

  font-family:'Inter', sans-serif;;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
}
